.github-fork-ribbon.right-bottom:before {
  background-color: #666;
}

.ui.statistic.block_number > .value {
  font-size: 2.4rem !important;
  line-height: 4rem !important;
}

.ui.grid > * {
  padding: 0 !important;
}
.four.wide.column {
  width: 92px;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Oswald, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow: overlay;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blink {
  animation: fade 4000ms infinite;
  -webkit-animation: fade 4000ms infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
  background-color: transparent;
  border-radius: 10px;
  margin-top: 0px;
  margin-left: 4px;
}
*::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #fcd535;
  border: 1px solid white;
}

/* animation */

.animation-box .items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.animation-box .items li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.animation-box .items li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.animation-box .items li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.animation-box .items li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.animation-box .items li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.animation-box .items li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.animation-box .items li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.animation-box .items li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.animation-box .items li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.animation-box .items li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.animation-box .items li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.tab-panels {
  border-collapse: collapse;
  overflow: hidden;
}

/* form input */
.form-input label {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}
.form-input input {
  border: 1px solid white !important;
  padding: 12px !important;
  font-size: 1.325rem !important;
  line-height: 1.75rem !important;
  font-weight: bold !important;
}
.form-input input:hover {
  border: 1px solid black !important;
}
.ui.form .field.form-input > .selection.dropdown {
  padding: 12px;
  font-size: 1.325rem;
  line-height: 1.75rem;
  font-weight: 600;
  border: 1px solid white !important;
}
.ui.form .field.form-input > .selection.dropdown:hover {
  border: 1px solid black !important;
}
.ui.dropdown .menu > .item {
  font-size: 1.325rem !important;
  line-height: 1.75rem !important;
  font-weight: 600 !important;
}
.ui.basic.button.default-button {
  background-color: #f8fafc !important;
  margin-top: 31px !important;
  border-radius: 0.5rem !important;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600 !important;
  text-align: center !important;
  cursor: pointer !important;
  border: none !important;
  color: black !important;
  opacity: 1 !important;
  z-index: index 10 !important;
}
.ui.basic.black.button.default-button:hover {
  transform: scale(1.05) !important;
  background-color: black !important;
  color: white !important;
  transition-duration: 500ms !important;
  opacity: 1 !important;
}

.ui.basic.button.events-button.grey {
  color: white !important;
}

.ui.basic.button.events-button.grey:hover {
  transform: scale(1.05) !important;
  color: #fbbd08 !important;
}

.ui.feed.events-feed > .event > .label .icon {
  color: white;
}

.ui.feed.events-feed > .event > .content {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 0 0 4px !important;
}
.ui.feed.events-feed > .event > .content,
.ui.feed.events-feed > .event > .content > .summary,
.ui.feed.events-feed > .event > .content > .text.extra {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
  color: white;
}

.selected-organization > .ui.form .field.form-input > .selection.dropdown {
  /* text-base*/
  font-size: 1rem !important; /* 16px */
  line-height: 1.5rem !important; /* 24px */
}

.create-product-form .ui.form .field.form-input label,
.create-shipment-form .ui.form .field.form-input label {
  font-size: 1.125rem !important; /* 18px */
  line-height: 1.75rem !important; /* 28px */
}

.create-product-form .ui.form .field.form-input input,
.create-shipment-form .ui.form .field.form-input input {
  padding: 8px !important;
  font-size: 1rem !important; /* 16px */
  line-height: 1.5rem !important; /* 24px */
}

/* shipment list */
.ui.list > .item .header {
  color: #e23434 !important;
  font-size: 1.5rem !important; /* 18px */
  line-height: 2rem !important; /* 28px */
  font-style: italic;
  text-decoration: underline;
}
